.footer {
    overflow: hidden;
    font-family: "Poppins";
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
}

.logoWrapperFooter{ 
    padding-right: 10px;
}

.footer-links-container {
    padding-left: 10px;
    border-left: solid white 1px;
}

.footer-links {
    max-width: 200px;
    color: rgb(99, 99, 99);
    text-decoration: none;
    transition: 0.25s ease-in;
    font-family: "Rethink Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-links:hover {
    color: #fb8500
}

.footer-links p{
    margin: 10px 0px;  
}

