.contact-container,
.contact-form-header,
.contact-form-container,
.contact-form,
.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button {
    font-family: "Rethink Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 100px 0px;
    text-align: center;
    background-image: url('../Assets/FormBackground.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.contact-form-header {
    font-weight: 700;
}

.contact-form-header h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.contact-form-header h1 {
    font-size: 3rem;
    color: white;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 20px;
}

.contact-form-container h3 {
    font-weight: 700;
    padding-bottom: 40px;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 40px;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.double-input {
    display: flex;
    width: 100%;
    gap: 20px;
}

.field-container {
    width: 100%;
    flex: 1;
}

.double-input .field-container {
    flex: 1;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: solid 1px white;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 0;
}

.contact-form textarea {
    height: 200px;
    resize: vertical;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    outline: none;
    border-bottom: solid 1px #fb8500;
}

.submitbtn {
    background-color: #fb8500;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 0px;
    border: none;
}

/* Hide the default file input button */
input[type="file"] {
    display: none;
}

/* Custom file upload button */
.custom-file-upload {
    display: inline-block;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Custom hover effect */
.custom-file-upload:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.file-name {
    margin-left: 10px;
    color: white;
}

.error {
    color: #ff4d4d;
    font-size: .75rem;
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}

.field-container {
    position: relative;
    margin-bottom: 30px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: .75rem;
}

.contact-info {
    max-width: 300px;
    padding: 40px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.747);
}

.contact-block {
    padding-bottom: 30px;
}

.contact-info h4 {
    padding-bottom: 24px;
    font-size: 1rem;
    font-weight: 700;
    color: #fb8500;
}

.contact-info p {
    padding-bottom: 16px;
    color: #e2e2e2;
    line-height: 16px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .contact-form-container {
        width: 80%; 
    }
    
    .contact-form {
        padding: 30px; 
    }
    
    .contact-form-header h1 {
        font-size: 2.5rem; 
    }

    .contact-form-header h3 {
        font-size: 1.5rem; 
    }
}

@media (max-width: 600px) {
    .contact-form-container {
        flex-direction: column;
        width: 90%; 
    }

    .contact-form {
        width: 100%;
        padding: 20px; 
    }
    
    .contact-form-header h1 {
        font-size: 2rem; 
    }

    .contact-form-header h3 {
        font-size: 1rem; 
    }

    .double-input {
        flex-direction: column; 
    }

    .double-input .field-container {
        width: 100%; 
    }
    .contact-info{
        max-width: 90%;
    }
}

/* noted that the api takes a while to process form */
.processing-message {
    color: #fb8500;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}