.home-container{ 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../Assets/Multimeter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.logoWrapper{
    position:absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 80px;
}

.home-text-container{
    width: 40vw;
    padding: 20vh 20vw 20vw 20vw;
    color: white;
    font-weight: 700;
}

.home-text-container h3{
    color: #e2e2e2;
    font-size: 1.5rem;
}

.home-text-container h1{
    font-size: 4rem;
}

.word-transition {
    display: inline-block;
    position: relative;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0); 
}

.fade-out {
    opacity: 0;
    transform: translateY(20px); 
}

.fade-in-start {
    opacity: 0;
    transform: translateY(-20px); 
}

/* contact button */

.button-container{
    display: flex;
    margin-top: 2.5vh;
}

.contactbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #fb860000;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: solid 2px white;
    transition: 0.25s ease-in;
}

.contactbtn:hover{
    color: #000000;
    background-color: #fb8500;
    border-color: #fb8500;
}

.scroll {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    transition: 0.25s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.arrow {
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(-45deg); 
}

.scroll:hover{
    color: #fb8500;
}

@media (max-width: 1200px) {

    /* Center align the home container */
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        text-align: center; 
        height: 100vh; 
        width: 100%;
    }

    /* Center text container */
    .home-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        width: 60%;
    }

    
    .home-text-container h3, 
    .home-text-container h1 {
        text-align: center;
    }

    .home-text-container h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .button-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 20px; 
        width: 100%; 
        margin-top: 20px; 
    }

    /* Ensure buttons are properly spaced and centered */
    .contactbtn {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        min-width: 150px; 
    }
}

@media (max-width: 600px) {

    .logoWrapper{
        position:absolute;
        top: 20px;
        left: 20px;
    }

    .scroll{
        display: none;
    }

    .home-text-container {
        width: 80%;
    }

    .home-text-container h1 {
        font-size: 2.5rem;
        text-align: center; 
    }

    .button-container {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        text-align: center; 
    }

    .contactbtn {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: auto; 
        min-width: 150px; 
    }
}