.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0c0c0c;
    height: 100%;
    width: 200px;
    padding: 40px;
    transition: 0.25s ease-in;
    z-index: 3;
}

.navbar.closed {
    transform: translateX(100%);
}

.navbar.open {
    transform: translateX(0);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5vh;
}

h3 {
    color: #fb8500;
}

.nav-guide-links h2{
    margin-top: 2.5vh;
}

.nav-guide-links h2:hover{
    cursor:pointer;
}

.nav-link {
    color: #e2e2e2;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s ease-in;
}

.nav-link:hover {
    color: #fb8500
}

.nav-extra-text {
    margin-top: 2.5vh;
}

.extra-text-container{
    margin-top: 10px;
}

#phone-number{
    cursor: pointer;
}

.navbar p {
    color: rgb(99, 99, 99);
}

/* creates close button */

.close-button {
    width: 27px;
    height: 27px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: white;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

/* Open button */

.open-button {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease-in;
    z-index: 2;
}

.open-button h3 {
    color: white;
    padding-right: 10px;
}

.open-button :hover{
    color: #fb8500;
}

/* Hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamburger-menu div {
    width: 20px;
    height: 2px;
    background-color: white;
}

.header-box, .nav-guide-links, .nav-extra-text {
    opacity: 0; /* Initially hidden */
    transform: translateX(20px); /* Start slightly off-screen */
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.header-box.slide-in, .nav-guide-links.fade-in, .nav-extra-text.fade-in {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Move into place */
}

.header-box.slide-out, .nav-guide-links.fade-out, .nav-extra-text.fade-out {
    opacity: 0; /* Fade out */
    transform: translateX(20px); /* Slide out */
}