.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    background-color: white;
}

.projects-header {
    width: 60%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 700;
    border-bottom: solid rgba(0, 0, 0, 0.253) 1px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.projects-header.fade-in{
    opacity: 1;
    transform: translateY(0);
}

.projects-header h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.projects-header h2 {
    font-size: 3rem;
    color: black;
}

.project-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 60%;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .projects-header {
        width: 80%;
    }
    .project-box-container {
        width: 80%;
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .projects-header {
        width: 90%;
    }
    .projects-header h2 {
        font-size: 2rem;
    }
    .projects-header h3 {
        font-size: 1.5rem;
    }
    .project-box-container {
        width: 90%;
        grid-template-columns: 1fr; 
    }
}
