.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
}

.services-header {
    width: 60%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 700;
    border-bottom: solid rgba(255, 255, 255, 0.363) 1px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.services-header.fade-in{
    opacity: 1;
    transform: translateY(0);
}

.services-header h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.services-header h2 {
    font-size: 3rem;
    color: white;
}

.service-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 20px; /* Space between items */
    width: 80%;
    max-width: 60%;
    margin: 0 auto;
    align-items: stretch;
}

.service-items-box {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.service-items-box:hover {
    transform: translateY(-5px);
}

.specialties-icon {
    width: 75px;
    margin: 25px;
}

.service-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    justify-content: left;
    text-align: left;
}

.service-text h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 24px;
}

.service-text p {
    color: #e2e2e2;
    font-family: "Domine", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    line-height: 2;
    min-height: 60px;
}

.service-text li {
    color: #e2e2e2;
    font-family: "Domine", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    line-height: 2;
    min-height: 40px;
}

ul {
    list-style-type: circle;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .services-header {
        width: 80%;
    }

    .services-header h2 {
        font-size: 2.5rem;
    }

    .service-items-container {
        width: 90%;
        max-width: 80%;
    }

    .service-items-box {
        padding: 15px;
    }

    .service-text h3 {
        font-size: 1.5rem;
    }

    .service-text ul{
        font-size: 1rem;
    }

    .service-text p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .services-header {
        width: 90%;
    }

    .services-header h2 {
        font-size: 2rem;
    }

    .service-items-container {
        grid-template-columns: 1fr; 
        width: 100%;
        max-width: 90%;
    }

    .service-items-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .specialties-icon {
        width: 60px;
        margin: 15px;
    }

    .service-text {
        text-align: center;
        align-items: center;
    }

    .service-text li {
        font-size: .75rem;
    }

    .service-text h3 {
        font-size: 1.5rem;
    }

    .service-text p {
        font-size: .75rem;
    }
}
